* {
    margin: 0;
    padding: 0;
}

#body {
    background: #cdcdcd;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#logoa {
    align-self: center;
    width: 369px;
    height: 238px;
    margin-top: -40px;
}

.brand {
    text-align: center;
}

header {
    display: flex;
    position: fixed;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: #cdcdcd;
    padding: 0 7px 0 0;
    z-index: 7;
    color: #318ce7;
    width: 100%;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 0 0;
    background-color: #cdcdcd;
}

#titrea {
    font-size: 75px;
    margin: 0 0 0 35px;
}

h1 {
    font-family: 'Arial black', Helvetica, sans-serif;
    font-style: italic;
}

#h3 {
    display: none;
    color: #318ce7;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 35px;
    padding: 0 0 10px 0;
    margin: 0 auto 0 auto;
    text-align: center;
}

#h3autre {
    color: #318ce7;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 35px;
    padding: 0 0 0 0;
    margin: 0 auto 0 auto;
    text-align: center;
}

.namea,
.nameb {
    color: #318ce7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding: -5px 0 0 5px;
}

.namea {
    display: none;
}

.nameb {
    display: block;
}